definitions/state_machine.yaml
x-app-info:
  type: AWS::StepFunc::StateMachine
  name: "demo-state-machine-1"

Comment: A description of my state machine
StartAt: Check
States:
  I Will Check:
    Type: Task
    Resource: arn:aws:states:::lambda:invoke
    OutputPath: "$.Payload"
    Parameters:
      Payload.$: "$"
      FunctionName: "step-func-1"
    Retry:
    - ErrorEquals:
      - Lambda.ServiceException
      - Lambda.AWSLambdaException
      - Lambda.SdkClientException
      IntervalSeconds: 2
      MaxAttempts: 6
      BackoffRate: 2
    Next: My Choice
  My Choice:
    Type: Choice
    Choices:
    - Variable: "$.statusCode"
      NumericEquals: 200
      Next: It Does Success
    Default: Fail
  It Does Fail:
    Type: Fail
  It Does Success:
    Type: Task
    Resource: arn:aws:states:::lambda:invoke
    OutputPath: "$.Payload"
    Parameters:
      Payload.$: "$"
      FunctionName: "step-func-2"
    Retry:
    - ErrorEquals:
      - Lambda.ServiceException
      - Lambda.AWSLambdaException
      - Lambda.SdkClientException
      IntervalSeconds: 2
      MaxAttempts: 6
      BackoffRate: 2
    End: true
